<footer>
	<div class="container-fluid">

		<div class="footer-links center">
			<ul>
				<li><%= link_to "User Agreement", "#" %> </li>
				<li><%= link_to "Privacy Policy", "#" %></li>
				<li><%= link_to "Community Guidelines", "#" %></li>
				<li><%= link_to "Cookie Policy", "#" %></li>
				<li><%= link_to "Copyright Policy", "#" %></li>
			</ul>
		</div>


	</div>
</footer>